<div id="novel-interface">
    <div id="novel-interface-toolbar">
         <div id="novel-sync-progress-button" class="std-button">🔄</div>
         <div id="novel-bookshelf-button" class="std-button">📚</div>
         <div id="novel-toc-button" class="std-button">☰</div>
         <div id="novel-summary-button" class="std-button">📋</div>
         <div id="novel-content-button" class="std-button">📖</div>
         <div id="novel-close-button" class="std-button">✕</div>
    </div>
    <div id="novel-content-page">
        <div id="novel-search-bar">
            <input type="text" id="novel-search-input" placeholder="在全文中搜索...">
            <div id="novel-search-prev-btn" class="std-button">↑</div>
            <div id="novel-search-next-btn" class="std-button">↓</div>
        </div>
        <div id="novel-content-area"></div>
    </div>
    <div id="novel-summary-page">
        <div id="novel-summary-content-area"></div>
    </div>
    <div id="novel-bookshelf-page">
         <div class="novel-page-section">
            <div class="novel-page-group">
                <div id="novel-bookshelf-list-container">
                </div>
            </div>
         </div>
    </div>
    <div id="novel-toc-page">
         <div class="novel-page-section">
            <div class="novel-page-group">
                <div id="novel-toc-list-container">
                </div>
            </div>
         </div>
    </div>
</div>