<div id="settings-icon" class="std-button">⚙</div>
<div id="top-toolbar">
    <div class="toolbar-left-group">
        <div id="role-button" class="std-button">👤</div>
        <div id="rule-button" class="std-button">📜</div>
        <div id="auto-trigger-button" class="std-button">||</div>
    </div>
    <div id="loading-spinner"></div>
    <div class="toolbar-right-group">
        <div class="toolbar-right-group-top-row">
            <div id="model-toggle-button" class="std-button">●</div>
            <div id="novel-button" class="std-button">📖</div>
            <div id="add-admin-button" class="std-button">📏</div>
            <div id="run-pause-button" class="std-button">▶</div>
        </div>
        <div id="pending-action-button-container">
            <div id="user-control-trigger-button" class="std-button">💬</div>
        </div>
    </div>
</div>